{
    "workbench.colorTheme": "Default Light Modern",
    "svn.enabled": true,
    "svn.path": "C:\\Program Files\\TortoiseSVN\\bin\\svn.exe",
    "svn.multipleFolders.enabled": true,
    "chat.instructionsFilesLocations": {
        ".github/instructions": true,
        "C:\\Users\\thbne\\.aitk\\instructions\\": true
    },
    "rsp-ui.enableStartServerOnActivation": [
        {
            "id": "redhat.vscode-community-server-connector",
            "name": "Community Server Connector",
            "startOnActivation": true
        }
    ],
    "rsp-ui.rsp.java.home": "C:\\dev\\java\\jdk-21.0.9.10-hotspot",
    "java.import.gradle.java.home": "C:\\dev\\java\\jdk-21.0.9.10-hotspot",
    "java.configuration.runtimes": [
        {
            "name": "JavaSE-21",
            "path": "C:\\dev\\java\\jdk-21.0.9.10-hotspot",
            "default": true
        }
    ],
    "terminal.integrated.env.windows": {
        "JAVA_HOME": "C:\\dev\\java\\jdk-21.0.9.10-hotspot",
        "PATH": "C:\\dev\\java\\jdk-21.0.9.10-hotspot\\bin;${env:PATH}"
    },
    "security.workspace.trust.untrustedFiles": "open",
    "diffEditor.ignoreTrimWhitespace": false,
    "gitlens.ai.model": "vscode",
    "gitlens.ai.vscode.model": "copilot:gpt-4.1",
    "git.autofetch": true
}